.events
  %h1 Things That Will Happen

  .day
    %h2 Friday, October 3
    .event
      %h4 Dinner for the wedding party & immediate family
      %p In the evening, somewhere in the Mission

  .day
    %h2 Saturday, October 4
    .event
      %h4 Walk around the zoo in fancy clothes
      %p 3:30pm at the San Francisco Zoo
      %p Guests will be invited to join the bride and groom on a walk through the San Francisco Zoo. The wedding will take place after the Zoo is closed, so this will be your chance to roam free and see the emperor tamarins, squirrel monkeys, goats, sheep, penguins, and capybara!

    .event
      %h4 Ceremony
      %p 5:30pm at the African Savannah, next to the zebras, ostriches, and giraffes
      %p This is the part where Travis and Lillie get married!

    .event
      %h4 Cocktails, Dinner, & Dancing
      %p 6:00-11:00pm near the lemurs
      %p This is the part where we celebrate the fact that Lillie and Travis got married!

    .event
      %h4 Post-reception
      %p 11pm-late o'clock at a bar in the Mission
      %p Lillie and Travis will probably be asleep by midnight, but for the late night partiers, we'll travel together to a bar (probably near Chez Grathwell/Chilen).

  .day
    %h2 Sunday, October 5
    .event
      %h4 Brunch
      %p Morning time somewhere in the Mission
      %p We'll have breakfast burritos and fruit salad in a park in a park to be announced.
