%h1 FAQ

%h3 How did you get engaged?
%p We talked about it! And then Lillie asked Travis if he wanted to get married, and he said yes. Time passed, then we set a date.

%h3 Have you bought a dress?
%p This is usually directed at Lillie, but you are welcome to ask Travis. No one has bought wedding clothes yet, we definitely will before the wedding!

%h3 Do we get to run around the zoo while it's closed?
%p Nope! Nobody wants drunk (or sober) people bothering the animals, so we'll be staying in a few specific places for the ceremony, cocktails, and reception.

%h3 What kind of animal is that?
%p It's a ring tailed lemur, probably the most famous kind of lemur. Did you know that there are over 90 species of lemur!? They're endemic to Madagascar (which means they only live there, in the wild). They are primates, but jump around a lot like cats.
