%h1 FAQ

%h3 How did you get engaged?
%p We talked about it! And then Lillie asked Travis if he wanted to get married, and he said yes. Time passed, then we set a date.

%h3 Do you have a registry?
%p Yep! #{ link_to "Check them out here", registries_path }.


%h3 What should I wear to the wedding?
%p Normal wedding clothes? Probably something nice, but certainly not too fancy. No ballgowns or tuxes. If you're joining us to walk around the zoo in fancy clothes at 3:30pm, you'll probably want to wear comfy shoes for that so you can still dance later.

%h3 California is warm, so I should pack shorts, right?
%p No! Some of California is warm, but San Francisco is a pretty chilly place. Hopefully in October we'll get our usual late summer, but it still gets cold every night, so be sure to pack lots of layers.

%h3 Do we get to run around the zoo while it's closed?
%p Nope! Nobody wants drunk (or sober) people bothering the animals, so we'll be staying in a few specific places for the ceremony, cocktails, and reception.

%h3 What kind of animal is that?
%p It's a ring tailed lemur, probably the most famous kind of lemur. Did you know that there are over 90 species of lemur!? They're endemic to Madagascar (which means they only live there, in the wild). They are primates, but jump around a lot like cats.

%h3 Who took that great picture?
%p A Flickr user named #{ link_to "Brian B Sorensen", "http://www.flickr.com/photos/brianbsorensen/", target: "_blank" }, who takes a lot of pictures of very San Francisco-y things! #{ link_to "Here's the original.", "http://www.flickr.com/photos/24490133@N04/4736946751/in/photolist-8dA6eH", target: "_blank" }

%h3 Who made this awesome website?
%p Lillie did! Have you looked at it on your phone, too? (Or your computer, too?)

%h3 What are your colors?
%p There are no official wedding colors! The official wedding animal is a wizard giraffe. The other official wedding animal is the lemur.
