%h1 Things You Could Buy for Us

%h2= link_to "Heath Ceramics", "http://www.heathceramics.com/giftregistry/view/index/id/93a6c2d1ff77ebc3250e52bc7732af66/"
%p Gorgeous California-made stoneware.

%h2= link_to "Crate & Barrel", "http://www.crateandbarrel.com/Gift-Registry/Lillie-Chilen-and-Travis-Grathwell/r5139902"
%p Kitchen-y things.

%h2= link_to "San Francisco Bicycle Coalition", "https://co.clickandpledge.com/advanced/default.aspx?wid=63340"
%p We love riding bikes in SF and would love for you to support this advocacy group.
