%h1 Getting around San Francisco

%h3 Muni
%p Muni (myoo-ni) is the public transit system within San Francisco, and includes light rail, busses, and trolleys. Although it shares underground stations on Market Street with Bart, it's a totally separate system, much to the confusion of many visitors.

%p The Zoo is served by the #{ link_to "L Taraval line", "http://goo.gl/maps/nYrPL" }, which runs down Market Street until it goes through Twin Peaks and on to the ocean. The Zoo is conveniently the last stop!

%h3 Bart
%p Bart is the Bay area commuter rail system, and happens to go through Lillie's and Travis' neighborhood and downtown SF. (We live ~10 minutes south of the 24th/Mission Bart station on foot.) It also serves both the Oakland and San Francisco airports, so you'll probably ride it at least twice during your visit.

%h3 Cabs, Lyft, & Uber
%p SF does not have enough cabs, but more than one tech startup has set out to solve that problem. If you have an iOS or Android device, you can get the Lyft and/or Uber apps that will allow you to request a driver and a ride to the SF destination of your choice. This seems to work much better than cabs, and if you choose Lyft or Uber's regular (not towncar) service, it's comparable in price.

%h3 Driving (not the best)
%p Driving in San Francisco is probably not as bad as New York, but if you're able to, walking around the city and taking public transit (or cabs) is delightful. Parking is pretty expensive, too. But if you need to drive, a person named Derek Powazek #{ link_to "has some excellent advice on driving in SF", "http://powazek.com/posts/2656" }.

%p If you are driving, staying #{ link_to "in Bernal Heights", "https://www.airbnb.com/s/San-Francisco--CA?neighborhoods%5B%5D=Bernal+Heights" } will provide free parking.
