!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    / NAME: 1:2 COLUMN
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title *|MC:SUBJECT|*
    /[if gte mso 6]
      <style>
      table.mcnFollowContent {width:100% !important;}
      table.mcnShareContent {width:100% !important;}
      </style>
  %body{leftmargin: "0", marginheight: "0", marginwidth: "0", offset: "0", style: "margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #ffffff;height: 100%;width: 100%;", topmargin: "0"}
    %center
      %table#bodyTable{align: "center", border: "0", cellpadding: "0", cellspacing: "0", height: "100%", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 0;background-color: #ffffff;height: 100%;width: 100%;", width: "100%"}
        %tr
          %td#bodyCell{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;margin: 0;padding: 20px;border-top: 0;height: 100%;width: 100%;", valign: "top"}
            / BEGIN TEMPLATE //
            %table#templateContainer{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;border: 0;", width: "600"}
              %tr
                %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                  / BEGIN PREHEADER //
                  %table#templatePreheader{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #fffff0;border-top: 0;border-bottom: 0;", width: "600"}
                    %tr
                      %td.preheaderContainer{style: "padding-top: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                        %table.mcnTextBlock{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                          %tbody.mcnTextBlockOuter
                            %tr
                              %td.mcnTextBlockInner{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                %table.mcnTextContentContainer{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "600"}
                                  %tbody
                                    %tr
                                      %td.mcnTextContent{style: "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;", valign: "top"}
                  / // END PREHEADER
              %tr
                %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                  / BEGIN HEADER //
                  %table#templateHeader{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #fffff0;border-top: 0;border-bottom: 0;", width: "600"}
                    %tr
                      %td.headerContainer{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                        %table.mcnImageBlock{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                          %tbody.mcnImageBlockOuter
                            %tr
                              %td.mcnImageBlockInner{style: "padding: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                %table.mcnImageContentContainer{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                                  %tbody
                                    %tr
                                      %td.mcnImageContent{style: "padding-right: 9px;padding-left: 9px;padding-top: 0;padding-bottom: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                        %img.mcnImage{align: "left", alt: "", src: "https://gallery.mailchimp.com/f8aa2bf7aba9da74629e0ecad/images/lemur_near_stick_brianbsorensen_e21f732dba110f2e1ed02c3ed1be46d2502a6bec88c4.jpg", style: "max-width: 800px;padding-bottom: 0;display: inline !important;vertical-align: bottom;border: 0;outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;", width: "564"}/
                  / // END HEADER
              %tr
                %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                  / BEGIN BODY //
                  %table#templateBody{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #fffff0;border-top: 0;border-bottom: 0;", width: "600"}
                    %tr
                      %td.bodyContainer{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                        %table.mcnTextBlock{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                          %tbody.mcnTextBlockOuter
                            %tr
                              %td.mcnTextBlockInner{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                %table.mcnTextContentContainer{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "600"}
                                  %tbody
                                    %tr
                                      %td.mcnTextContent{style: "padding: 9px 18px;text-align: center;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;", valign: "top"}
                                        %h3{style: "color: #222222;font-family: arial, sans-serif;line-height: normal;margin: 5px 0px;text-align: center;padding: 0;display: block;font-size: 18px;font-style: normal;font-weight: bold;letter-spacing: -.5px;"} Together with their families,
                                        %h2{style: "color: #222222;font-family: arial, sans-serif;line-height: normal;margin: 10px 0px;text-align: center;padding: 0;display: block;font-size: 26px;font-style: normal;font-weight: bold;letter-spacing: -.75px;"} Lillie Ann Chilen
                                        %h3{style: "color: #222222;font-family: arial, sans-serif;line-height: normal;margin: 5px 0px;text-align: center;padding: 0;display: block;font-size: 18px;font-style: normal;font-weight: bold;letter-spacing: -.5px;"} and
                                        %h2{style: "color: #222222;font-family: arial, sans-serif;line-height: normal;margin: 10px 0px;text-align: center;padding: 0;display: block;font-size: 26px;font-style: normal;font-weight: bold;letter-spacing: -.75px;"} Travis Jacob Grathwell
                                        %h3{style: "color: #222222;font-family: arial, sans-serif;line-height: normal;margin: 5px 0px;text-align: center;padding: 0;display: block;font-size: 18px;font-style: normal;font-weight: bold;letter-spacing: -.5px;"} invite you to their wedding.
                  / // END BODY
              %tr
                %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                  / BEGIN COLUMNS //
                  %table#templateColumns{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #fffff0;border-top: 0;border-bottom: 0;", width: "600"}
                    %tr
                      %td.columnsContainer{align: "left", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top", width: "50%"}
                        %table.templateColumn{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                          %tr
                            %td.leftColumnContainer{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                              %table.mcnTextBlock{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                                %tbody.mcnTextBlockOuter
                                  %tr
                                    %td.mcnTextBlockInner{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                      %table.mcnTextContentContainer{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "300"}
                                        %tbody
                                          %tr
                                            %td.mcnTextContent{style: "padding: 9px 18px;font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size: 12px;font-weight: normal;line-height: 200%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;text-align: left;", valign: "top"}
                                              %p{style: "color: #222222;font-family: arial, sans-serif;line-height: normal;margin: 3px 0px;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size: 15px;text-align: left;"}
                                                %span{style: "font-size:14px"}
                                                  %span{style: "font-family:arial,helvetica neue,helvetica,sans-serif"}
                                                    %span.aBn{"data-term" => "goog_1852665567", style: "border-bottom-color: #CCCCCC;border-bottom-style: dashed;border-bottom-width: 1px;position: relative;top: -2px;z-index: 0;", tabindex: "0"}
                                                      %span.aQJ{style: "position:relative; top:2px; z-index:-1"}
                                                        5:30pm
                                                        %br/
                                                        Saturday, October 4th, 2014
                                              %p{style: "color: #222222;font-family: arial, sans-serif;line-height: normal;margin: 3px 0px;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;font-size: 15px;text-align: left;"}
                                                %span{style: "font-size:14px"}
                                                  %span{style: "font-family:arial,helvetica neue,helvetica,sans-serif"}
                                                    San Francisco Zoo
                                                    %br/
                                                    San Francisco, California
                      %td.columnsContainer{align: "left", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top", width: "50%"}
                        %table.templateColumn{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                          %tr
                            %td.rightColumnContainer{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                              %table.mcnTextBlock{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                                %tbody.mcnTextBlockOuter
                                  %tr
                                    %td.mcnTextBlockInner{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                      %table.mcnTextContentContainer{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "300"}
                                        %tbody
                                          %tr
                                            %td.mcnTextContent{style: "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: left;", valign: "top"}
                              %table.mcnButtonBlock{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                                %tbody.mcnButtonBlockOuter
                                  %tr
                                    %td.mcnButtonBlockInner{align: "center", style: "padding-top: 0;padding-right: 18px;padding-bottom: 18px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                      %table.mcnButtonContentContainer{border: "0", cellpadding: "0", cellspacing: "0", style: "border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;background-color: #800000;border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                                        %tbody
                                          %tr
                                            %td.mcnButtonContent{align: "center", style: "font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;font-size: 16px;padding: 15px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "middle"}
                                              %a.mcnButton{href: secretive_url(@invitation.external_id), style: "font-weight: bold;letter-spacing: -0.5px;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", target: "_blank", title: "RSVP at zoowedding.biz"} RSVP at zoowedding.biz
                  / // END COLUMNS
              %tr
                %td{align: "center", style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                  / BEGIN FOOTER //
                  %table#templateFooter{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;background-color: #fffff0;border-top: 0;border-bottom: 0;", width: "600"}
                    %tr
                      %td.footerContainer{style: "padding-bottom: 9px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                        %table.mcnTextBlock{border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "100%"}
                          %tbody.mcnTextBlockOuter
                            %tr
                              %td.mcnTextBlockInner{style: "mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", valign: "top"}
                                %table.mcnTextContentContainer{align: "left", border: "0", cellpadding: "0", cellspacing: "0", style: "border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;", width: "600"}
                                  %tbody
                                    %tr
                                      %td.mcnTextContent{style: "padding-top: 9px;padding-right: 18px;padding-bottom: 9px;padding-left: 18px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #606060;font-family: Helvetica;font-size: 11px;line-height: 125%;text-align: left;", valign: "top"}
                  / // END FOOTER
            / // END TEMPLATE
