%h1 A Zoo Wedding Shuttle Opportunity!

%p We're going to rent a shuttle to take people back to the 24th & Mission Bart station after the wedding is over, since it'll be pretty tough to catch a cab at 11pm on a Saturday.

%p To reserve your spot(s) on the shuttle, #{ link_to "click right here", secretive_shuttle_url(@invitation.external_id) } and let us know.

%p Deadline: we need to book the shuttle in the next week or so, so please let us know by Monday, August 11th. (Which is also Travis' 30th birthday!)

%p much love,

%p Lillie & Travis

%p PS: If you haven't RSVP'd to the wedding yet, or you need to change your RSVP, #{ link_to "you can do so here", secretive_url(@invitation.external_id) }. We'd love to see you, but understand that San Francisco is far, far away for many of our guests and also a stupidly expensive city, so no hard feelings at all if you can't make it.
