.rotate {
  animation: rotation 2s infinite linear;
}

.msg {
  font-size: 80px;
  font-family: TimesNewRoman;
  color: rgb(0, 0, 0);
  position: absolute;
  left: 70px;
  top: 310px;
  text-shadow: 5px 2px 2px rgba(150, 150, 150, 1);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
